NiFIReceiverRainbow.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>fd7db7de-015b-1000-f9e9-e3a7d676f481</groupId>
  <name>NiFIReceiverRainbow</name>
  <snippet>
    <connections>
      <id>00e8595c-904d-3a34-0000-000000000000</id>
      <parentGroupId>09561420-fe08-3872-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>09561420-fe08-3872-0000-000000000000</groupId>
        <id>885e2329-767f-3291-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>sql1</selectedRelationships>
      <source>
        <groupId>09561420-fe08-3872-0000-000000000000</groupId>
        <id>e576911a-ff8e-3964-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0e8d67bb-dd00-3626-0000-000000000000</id>
      <parentGroupId>09561420-fe08-3872-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>09561420-fe08-3872-0000-000000000000</groupId>
        <id>7e9759f9-83db-38f8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>09561420-fe08-3872-0000-000000000000</groupId>
        <id>885e2329-767f-3291-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>13d5bde6-fd5c-36b6-0000-000000000000</id>
      <parentGroupId>09561420-fe08-3872-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>09561420-fe08-3872-0000-000000000000</groupId>
        <id>a0cec708-12c2-3e8e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>09561420-fe08-3872-0000-000000000000</groupId>
        <id>543d7420-bde3-3cba-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>73f8520d-cffd-3b8f-0000-000000000000</id>
      <parentGroupId>09561420-fe08-3872-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>09561420-fe08-3872-0000-000000000000</groupId>
        <id>e576911a-ff8e-3964-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>09561420-fe08-3872-0000-000000000000</groupId>
        <id>a0cec708-12c2-3e8e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>88cb3a46-50fe-3605-0000-000000000000</id>
      <parentGroupId>09561420-fe08-3872-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
      </descriptors>
      <name>AvroRecordSetWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>avro-embedded</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>67b94b39-e415-3a76-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>0d944763-5bc8-3543-0000-000000000000</id>
      <parentGroupId>09561420-fe08-3872-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
      </descriptors>
      <name>JsonTreeReader</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>67b94b39-e415-3a76-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.json.JsonTreeReader</type>
    </controllerServices>
    <controllerServices>
      <id>67b94b39-e415-3a76-0000-000000000000</id>
      <parentGroupId>09561420-fe08-3872-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-registry-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>rainbow</key>
          <value>
            <name>rainbow</name>
          </value>
        </entry>
        <entry>
          <key>sensehat</key>
          <value>
            <name>sensehat</name>
          </value>
        </entry>
      </descriptors>
      <name>AvroSchemaRegistry</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>rainbow</key>
          <value>{"type":"record","namespace":"hortonworks.hdp.refapp.rainbow","name":"rainbow","fields":[{"name": "tempf", "type": "float"},{ "name": "cputemp", "type": "float"},{"name":"ts","type":"string"},{ "name": "pressure","type": "float"},{ "name": "host","type": "string"},{ "name": "tempf2","type": "float"},{"name": "ipaddress","type": "string"},{"name": "temp","type": "float"},{ "name": "altitude","type": "float"}]} </value>
        </entry>
        <entry>
          <key>sensehat</key>
          <value>{"type":"record","namespace":"hortonworks.hdp.refapp.sensehat","name":"sensehat","fields":[{"name": "tempf", "type": "float"},{ "name": "cputemp", "type": "float"},{"name":"ts","type":"string"},{ "name": "pressure","type": "float"},{ "name": "host","type": "string"},{ "name": "pitch","type": "float"},{"name": "ipaddress","type": "string"},{"name": "temp","type": "float"},{ "name": "diskfree","type": "string"},{ "name": "yaw","type": "float" },{"name": "humidity","type": "float"},{"name": "memory","type": "float"},{"name": "y", "type": "float"},{"name": "x", "type": "float" },{"name": "z","type": "float"},{"name": "roll", "type": "float"}]} </value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
    </controllerServices>
    <inputPorts>
      <id>543d7420-bde3-3cba-0000-000000000000</id>
      <parentGroupId>09561420-fe08-3872-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>63.75402667011463</y>
      </position>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>MiniFi Rainbow</name>
      <state>STOPPED</state>
      <transmitting>false</transmitting>
      <type>INPUT_PORT</type>
    </inputPorts>
    <processors>
      <id>885e2329-767f-3291-0000-000000000000</id>
      <parentGroupId>09561420-fe08-3872-0000-000000000000</parentGroupId>
      <position>
        <x>838.7206314552161</x>
        <y>247.9325167309098</y>
      </position>
      <bundle>
        <artifact>nifi-hive-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>orc-config-resources</key>
            <value>
              <name>orc-config-resources</name>
            </value>
          </entry>
          <entry>
            <key>orc-stripe-size</key>
            <value>
              <name>orc-stripe-size</name>
            </value>
          </entry>
          <entry>
            <key>orc-buffer-size</key>
            <value>
              <name>orc-buffer-size</name>
            </value>
          </entry>
          <entry>
            <key>orc-compression-type</key>
            <value>
              <name>orc-compression-type</name>
            </value>
          </entry>
          <entry>
            <key>orc-hive-table-name</key>
            <value>
              <name>orc-hive-table-name</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>orc-config-resources</key>
          </entry>
          <entry>
            <key>orc-stripe-size</key>
            <value>64 MB</value>
          </entry>
          <entry>
            <key>orc-buffer-size</key>
            <value>10 KB</value>
          </entry>
          <entry>
            <key>orc-compression-type</key>
            <value>NONE</value>
          </entry>
          <entry>
            <key>orc-hive-table-name</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertAvroToORC</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hive.ConvertAvroToORC</type>
    </processors>
    <processors>
      <id>a0cec708-12c2-3e8e-0000-000000000000</id>
      <parentGroupId>09561420-fe08-3872-0000-000000000000</parentGroupId>
      <position>
        <x>521.3668008727018</x>
        <y>20.90537908389888</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
          <entry>
            <key>mime.type</key>
            <value>
              <name>mime.type</name>
            </value>
          </entry>
          <entry>
            <key>schema.name</key>
            <value>
              <name>schema.name</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
          <entry>
            <key>mime.type</key>
            <value>application/json</value>
          </entry>
          <entry>
            <key>schema.name</key>
            <value>rainbow</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Update Schema and ContentType</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>e576911a-ff8e-3964-0000-000000000000</id>
      <parentGroupId>09561420-fe08-3872-0000-000000000000</parentGroupId>
      <position>
        <x>1122.7506937813143</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>record-reader</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
              <name>record-reader</name>
            </value>
          </entry>
          <entry>
            <key>record-writer</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
              <name>record-writer</name>
            </value>
          </entry>
          <entry>
            <key>include-zero-record-flowfiles</key>
            <value>
              <name>include-zero-record-flowfiles</name>
            </value>
          </entry>
          <entry>
            <key>cache-schema</key>
            <value>
              <name>cache-schema</name>
            </value>
          </entry>
          <entry>
            <key>sql1</key>
            <value>
              <name>sql1</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>record-reader</key>
            <value>0d944763-5bc8-3543-0000-000000000000</value>
          </entry>
          <entry>
            <key>record-writer</key>
            <value>88cb3a46-50fe-3605-0000-000000000000</value>
          </entry>
          <entry>
            <key>include-zero-record-flowfiles</key>
            <value>false</value>
          </entry>
          <entry>
            <key>cache-schema</key>
            <value>true</value>
          </entry>
          <entry>
            <key>sql1</key>
            <value>SELECT *
FROM FLOWFILE
WHERE tempf &gt; 65
ORDER BY tempf DESC
</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>QueryRecord</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>sql1</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.QueryRecord</type>
    </processors>
    <processors>
      <id>7e9759f9-83db-38f8-0000-000000000000</id>
      <parentGroupId>09561420-fe08-3872-0000-000000000000</parentGroupId>
      <position>
        <x>1597.1684829886062</x>
        <y>221.7684509699884</y>
      </position>
      <bundle>
        <artifact>nifi-hadoop-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/sensor</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>022</value>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#1282eb</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
  </snippet>
  <timestamp>07/07/2017 12:44:02 EDT</timestamp>
</template>
